.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
}

.modal__content {
  position: relative;
  padding: 30px;
  line-height: 3rem;
  background-color: white;
}

.modal__label {
  display: block;
}

.modal__checkbox {
  position: relative;
  top: 2px;
}
